.main {
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
  height: 790px;

  background: #fafafa;
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #222222;
    padding: 40px 0;
  }
  &__container {
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
  }
}
